# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
web/node_modules
/.pnp
web/.pnp
.pnp.js
web/.pnp.js

# testing
/coverage
web/coverage

# production
/build
web/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

.vscode
