
body{
	background: black;
}

#game_window{
	height: 500px;
	background: black;
	position: relative;
	overflow: hidden;
	transition: all 200ms ease;
}

#grid{
	height: 100%;
	width: 100%;
	background: url("../img/patterns/grid6.png");
	background-repeat: repeat;
	opacity: 0.15;
	display:none;
	position: absolute;
}

#level{
	position: absolute;
	left: 50%;
	margin-left: -64px;
	color: white;
}

#overlay{
	width:100%;
	height:100%;
    z-index: 999;
    position: absolute;
}

#backdrop{
	background: black;
	opacity: 0.95;
	width:100%;
	height:100%;
}

#msg_backdrop{
	visibility:hidden;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -20px;
	color: lime;
}

.message{
	width:200px;
	height:120px;
	background: white;
	border: 5px solid black;
	box-shadow: 0px 0px 5px 1px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -60px;
}

.message p{
	margin:2px auto;
}

.button {
	width: 100px;
	height: 32px;
	color: white;
	font-weight: 600;
	background: grey;
	border: 3px solid black;
	margin: auto;
	text-align: center;
	line-height: 28px;
}

.button:hover{
	background: orange;
	cursor: pointer;
}

.choice-column{
    width: 400px;
    /* float: right; */
    height: 100%;
    padding-top: 100px;
	position: absolute;
	right: -380px;
}
.action{
	background: grey;
	border: 3px solid black;
	box-shadow: -2px 2px 5px 1px gray;
	width: 350px;
	height: 80px;
	color: white;
    margin-right: 15px;
	float: right;
    margin-top: 10px;
    text-align: center;
    line-height: 76px;
	background-image: url(../micro_carbon/micro_carbon.png);
}

.action:hover{
	border: 5px solid lime;
	cursor: pointer;
	-webkit-animation-name: none;
}

.PulseOrange {
	-webkit-animation-name: pulseBorder;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
	-webkit-animation-duration: 2s;
}

@-webkit-keyframes pulseBorder {
	from {
		border: solid 3px black;
	}
	to{
		border: solid 3px orange;
	};
}

.story-screen{
	background: gray;
	border: 3px solid black;
	width: 300px;
    height: 350px;
    position: absolute;
    top: 60px;
    left: 20px;
    box-shadow: 5px 4px 5px 1px gray;
	background-image: url(../micro_carbon/micro_carbon.png);
	
}

.story-screen p{
	color: white;
	font-family: courier;
	font-size: 18px;
	margin: 5px;
	word-spacing: -3px;
    font-size: 15px;
}

.showAllText{
	position: absolute;
	top: 420px;
	left: 20px;
}

@keyframes blink{
	to{opacity: 0.0;}
}

.ContinueBox p{
	position: absolute;
    bottom: 86px;
    left: 330px;
	/* visibility: hidden; */
	display:none;
}

#skiptool{
	margin-top: 10px;
	margin-left: 10px;
	color: red;
}

#skiptool input{
	width: 50px;
	margin-left:3px;
	margin-right: 20px;
}

.Red{
	background-color: red !important;
	transition: all 300ms ease;
}

p{
	cursor: default;
	-webkit-touch-callout: none; //iOS
	-webkit-user-select: none; //Chrome and Safari
	-khtml-user-select: none; //Konquer
	-moz-user-select:none; //Firefox
	-ms-user-select:none; //IE or Edge
	user-select: none; //Non-prefixed
}