body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family:'3270';
  src: local('3270SemiNarrow'), url(./assets/fonts/3270_fonts_2851f93/3270SemiNarrow.ttf) format('truetype');
}

@font-face {
  font-family:'GreenScr';
  src: local('Greenscr'), url(./assets/fonts/green_screen/Greenscr.ttf) format('truetype');
}